@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand&display=swap');
/* font-family: 'Open Sans', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.text-white{
    color: #ffffff;
}
.text-brown{
    color: #974C06;
}
.text-green{
    color: #239706;
}
.text-darkgreen{
    color: #027615;
}
.bg-white{
    background-color: #ffffff;
}
.bg-brown{
    background-color: #974C06;
}
.bg-green{
    background-color: #027615;
}
.bg-white-brown{
    background-color: #faf6f3;
}
.bg-white-green{
    background-color: #e6f5e2;
}


section{
    min-height: 50vh;
}
hr{
    margin: 0;
    border-top: 1px solid #ccc;
}

.banner{
    padding: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/assets/img/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    margin: auto;
    max-width: 800px;
    height: auto;
}
.big-text{
    text-align: left;
}
.big-text span{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: white;
    text-align: center;
}
.banner-button{
    width: 100%;
    text-align: left;
}
.banner-button button{
    width: 200px;
    height: auto;
    padding: 8px 10px;
    margin: auto;
    background-color: #974C06;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
}

.about-header{
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

section .about{
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #e6f5e2;
    border-radius: 10px;
    margin: auto;
    min-height: 50vh;
}